*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/release
/captures
.externalNativeBuild

android-project/.gradle/
android-project/.idea/
android-project/build/
android-project/app/debug
android-project/app/release
android-project/app/build/

recordings/
.env
